<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <section class="layout">
            <div class="grow1"><a class="menu" href="#">☰</a></div>
            <div class="grow9"><a class="logo" href="#"><img src="imagenes/LogoKeepi.png" alt=""></a></div>
            <div class="grow1">
                <a class="notis" href="#"><img src="imagenes/Notis.png" alt=""></a>
                <a class="perfil" href="#"><img src="imagenes/Perfil.png" alt=""></a>
            </div>
        </section>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <p>© 2025 Keepi — Don't Waste It, Keepi.</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

