@using Keepi.Models;
@{
    var lista = ViewBag.Notificaciones as List<Notificacion>;
}

<div class="notificaciones-contenido">
    <h3>Notificaciones</h3>

    <ul>
        @if (lista != null && lista.Any())
        {
            foreach (Notificacion n in lista)
            {
                <li class="notificacion-item">
                    <p>@n.Mensaje</p>
                    <small>@n.FechaNotificacion.ToString("dd/MM/yyyy HH:mm")</small>
                </li>
            }
        }
        else
        {
            <li class="sin-notificaciones">No hay notificaciones nuevas</li>
        }
    </ul>
</div>
