@{
    ViewData["Title"];
}
<head>
    < link rel="stylesheet" href="/css/style.css">
</head>
<body class="heladera">
    <header></header>
    <main>
        <section>
            <h1>Mi heladera</h1>
            
            <a href="/Chat/ChatBot">ChatBot</a>
        </section>
    
    </main>
    <footer>
    
    </footer>
</body>