@{
    ViewData["Title"] = "Keepi";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="index">
    <header>
        <h1 class="logo">Keepi</h1>
       <nav>
       <a>Home</a>
       <a>El problema</a>
       <a>La solución</a>
       </nav>

    </header>

    <main>
        <section>
            <div>
                <h1>Keepi</h1>
                <p>Organizá tu heladera, recibí alertas de vencimiento y encontrá las mejores recetas.</p>
                <a href="/Chat/ChatBot" class="cta">Hablá con Mr. Keep</a>
            <a href="@Url.Action("InicializarHeladera", "Heladera")">Inicializar Heladera</a>

        </section>

        <section>
            <h2>La problemática</h2>
            <p>1 de cada 3 alimentos producidos termina en la basura.
            Y paradójicamente, más de 800 millones de personas pasan hambre.
            Cuando tiramos comida, no solo desperdiciamos alimentos: tiramos el 
            agua, la energía, el trabajo y los recursos que hicieron posible que llegue a nuestra mesa.</p>
            <p>En los hogares, la causa más común no es la mala intención:
            es la falta de organización, el ritmo acelerado, el olvido.
            Compramos más de lo que necesitamos, guardamos sin registrar, y cuando queremos usarlo, ya es tarde.</p>
        </section>

        <section>
            <h2>Nuestra solución</h2>
            <p>Keepi es una web simple e intuitiva que te ayuda a organizar tu cocina y reducir tu impacto ambiental.</p>

            <ul >
                <li>
                    <span>1</span>
                    <p>Registrá tus alimentos</p>
                </li>
                <li>
                    <span>2</span>
                    <p>Recibí alertas inteligentes</p>
                </li>
                <li>
                    <span>3</span>
                    <p>Descubrí recetas con lo que ya tenés</p>
                </li>
                <li>
                    <span>4</span>
                    <p>Charlá con Mr. Keep</p>
                </li>
            </ul>

            <!-- ACÁ IRÍA UN VIDEO TUTORIAL O ALGO... NO SE-->
        </section>
    </main>

    <footer>
        <p>© 2025 Keepi — Cuidemos la comida, cuidemos el planeta.</p>
    </footer>
</body>


