@using System.Collections.Generic
@using Keepi.Models

@{
    var Productos = ViewBag.Productos as List<ProductoXHeladera> ?? new List<ProductoXHeladera>();
}

<div class="Heladera">
    @foreach (ProductoXHeladera producto in Productos)
    {
        <div class="productoEnHeladera">
            <img src="@Url.Content($"~/images/{producto.Foto}")" alt="@producto.NombreEsp" />
            <h1>@producto.NombreEsp</h1>
            <progress id="porcentajeVencimiento" value="@producto.CalcularPorcentajeRestante" max="100"></progress>
        </div>
    }
</div>