@using System.Collections.Generic
@using Keepi.Models
@using System.Linq

<div class ="Perfil">
<a href="@Url.Action("cerrarSesion", "Auth")" >Cerrar Sesion</a>
</div>
<section class = "PerfilContainer">
<h3>Nombre de usuario:</h3>
</section>
<style>
.Perfil a{
    text-decoration:none;
background-color: red;
color: #fff;
padding:0.5%;
border-radius:8px
}
</style>